<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Seu nome" formControlName="name" />
  <p
    *ngIf="registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.value"
  >
    O nome é obrigatório
  </p>
  <p
    *ngIf="registerForm.get('name')?.errors?.['minlength'] && registerForm.get('name')?.value"
  >
    O nome precisa conter pelo menos 3 caracteres
  </p>
  <input type="email" placeholder="Seu e-mail" formControlName="email" />
  <input
    type="password"
    placeholder="Crie uma senha"
    formControlName="password"
  />
  <button type="submit">Enviar</button>
</form>
